@model List<QueueItemResult>

@if (Model.Count() == 0 && Spotify.GetCurrentItem("") == null) {
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12">
            <h1 id="noSongs" class="text-center mb-4 mt-5">There are no songs in queue right now</h1>
        </div>
    </div>

} else if (Model.Count() != 0) {
    <script>
        function likeSongQueue(id) {
            if (getCookie(".AspNet.Consent")) {
                $.get('?handler=AddSong&id=' + id, function (data) {
                    if (data === false) {
                        alert("There was an error with authentication");
                    }
                });
            } else {
                alert("This feature is blocked without accepting cookies.");
            }
        }
    </script>
    <table class="table">
        <thead class="">
            <tr class="">
                <th scope="col" class=""></th>
                <th scope="col" width="65%" class="">Name</th>
                <th scope="col" width="10%" class="d-none d-sm-table-cell text-center">Length</th>
                <th scope="col" width="10%" class="text-center">Likes</th>
                <th scope="col" width="10%" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in Model) {
                <tr>
                    <td width="96"><img class="shadow" style="border-radius: 3px;" src="@song.ImageUrl" height="64" width="64" /></td>
                    <td class="align-middle demo">
                        <div>
                            <span class="font-weight-bold">@song.Name</span>
                        </div>
                        <div>
                            <span>@song.Artists</span>
                        </div>
                    </td>
                    <td class="d-none d-sm-table-cell align-middle text-center">@song.Length</td>
                    <td class="align-middle text-center">@song.Likes</td>
                    <td class="text-center align-middle">
                        @if (@song.LikedByUser) {
                            <button class="btn btn-outline-danger fas fa-heart" onclick="likeSongQueue('@song.Id');return false;"></button>
                        } else {
                            <button class="btn btn-outline-danger far fa-heart" onclick="likeSongQueue('@song.Id');return false;"></button>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
} else {
    <h3 class="text-center mt-3">Queue is empty.&nbsp; Add more songs or playback will soon end.</h3>
}


