@using SpotifyAPI.Web
@using System.Timers
@using Duckify.Models
@using Duckify.Services
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@inject SpotifyService Spotify
@inject SongQueue Queue;  
@inject UserManager<User> UserManager;  
@inject HttpContextAccessor Accessor;

<input class="form-control bg-dark text-white shadow" type="text" @bind-value="SearchText" placeholder="Search" aria-label="Search" @oninput="SearchTextChanged">
<div>
    @if (Tracks.Count > 0) {
        <table class="table mt-2" hidden="@IsHidden">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" width="70%" class="">Name</th>
                <th scope="col" width="15%" class="d-none d-sm-table-cell">Length</th>
                <th scope="col" width="15%" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var song in Tracks) {
                <tr>
                <td width="88">
                    <img src="@song.Album.Images[0].Url" class="rounded shadow" height="56" width="56"/>
                </td>
                <td class="align-middle demo">
                    <div>
                        <span class="font-weight-bold">@song.Name</span>
                    </div>
                    <div>
                        <span>@Helper.ConvertArtists(song.Artists)</span>
                    </div>
                </td>
                <td class="d-none d-sm-table-cell align-middle">@Helper.ConvertMs(song.DurationMs)</td>
                <td class="align-middle">
                    <img src="img/like.png" onmouseover="this.src='img/like_filled.png'" class="mx-auto d-block like_button" onmouseout="this.src='img/like.png'" @onclick="args => AddSong(song.Id)" alt="Like image">
                </td>
                </tr>
            }
            </tbody>
        </table>
    }

</div>

@code {

    private bool IsHidden { get; set; }

    private Timer _searchTimer;

    private List<FullTrack> Tracks { get; set; }

    private string _searchText;

    private string SearchText { get; set; }

    public SpotifySearchComponent() {
        Tracks = new List<FullTrack>();
        _searchTimer = new Timer(200);
        _searchTimer.Elapsed += async (s, ev) => await OnSearchTimerTick();
        _searchTimer.AutoReset = false;
    }

    private async Task AddSong(string id) {
        await Queue.Add(id,await UserManager.GetUserAsync(Accessor.HttpContext.User));
        IsHidden = true;
        SearchText = "";
        await InvokeAsync(StateHasChanged);

    }

    private void SearchTextChanged(ChangeEventArgs args) {
        _searchText = (string)args.Value;
        _searchTimer.Stop();
        _searchTimer.Start();
    }

    private async Task OnSearchTimerTick() {
        _searchTimer.Stop();
        await Search();
    }

    private async Task Search() {
        if (!Spotify.IsAuthenticated || string.IsNullOrEmpty(_searchText)) {
            Tracks = new List<FullTrack>();
            IsHidden = true;
            await InvokeAsync(StateHasChanged);

            return;
        }
        var request = new SearchRequest(SearchRequest.Types.Track, _searchText);
        request.Limit = 7;
        var result = await Spotify.Client.Search.Item(request);
        Tracks = result.Tracks.Items;
        IsHidden = false;
        await InvokeAsync(StateHasChanged);
    }

}